<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src='/javascripts/libs/jquery.js'></script>
    <script src='/javascripts/security.js'></script>
    <script src='/javascripts/product.js'></script>
    <style>
      body{
        background-image :url(/images/11.jpg);
        background-size : 90%;
        background-attachment : fixed;
      }
    </style>
  </head>
  <body>
    <a href="/users/registration" class='menu-item'><p>Зареєструватися</p></a>
    <a href="/" class='menu-item'><p>Головна</p></a>
    <center><h1>Усі продукти</h1></center>

    <script>
      getAllProducts();
    </script>

<div>
    <input id="searchInput" name="search" placeholder="Type something..."/> <button onclick="onSearchButtonClicked()">Search</button>
</div>

    <div id="all-products-container"/>
  </body>
</html>
