<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

  </head>
  <body>
    <a href="/products/all_products" class='menu-item'><p>Продукція</p></a>
    <a href="/users/logout" class='menu-item'><p>Вийти</p></a>
    <a href="/" class='menu-item'><p>Головна</p></a>
    <center><h1>All Users</h1></center>
     <div class = "product-item">
      <% for(var i=0; i<users.length; i++) {%>
        <div class="thumbs">
          <img width="200" height="200" src="data:image/png;base64, <%=users[i].img%>">
        <div class="caption">
        <span class="title">Логін : <%=users[i].username%></span>
        </div>
        </div>
      <% } %>
    </div>
  </body>
</html>
