<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/products/all_products" class='menu-item'><p>Продукція</p></a>
    <a href="/" class='menu-item'><p>Головна</p></a>
    <a href="/users/registration" class='menu-item'><p>Зареєструватися</p></a>
    <h1>Cart</h1>
    <ul class = "menu">
     <% for(var i=0; i<purchases.length; i++) {%>
        <li><a href="/products/view/id/<%= purchases[i]._id%>">
          <img src="data:image/png;base64,<%= purchases[i].img %>" style="height : 300px; weight : 300px"></img>
        </a>
        <form action="/users/products/buy/delete/<%=purchases[i]._id%>" method="POST">
          <button type='submit' class='btn btn-primary' style=" margin-top :1px">Видалити</button>
        </form>

        </li>
     <% } %>
   </ul>
  </body>
</html>
