<!doctype html>

<html>
<head>
  <meta charset="utf-8">

  <title>Shop</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel='stylesheet' href="/stylesheets/style.css"/>
  <style>
    body{
      background-image :url(/images/login.jpg);
  		background-size : 100%;
  		background-attachment : fixed;
    }
  </style>
</head>

<body>
  <a href="/products/all_products" class='menu-item'><p>Продукція</p></a>
  <a href="/" class='menu-item'><p>Головна</p></a>
  <a href="/users/registration" class='menu-item'><p>Зареєструватися</p></a>

  <div class='container' id="login-form">
    <div class='row' id="login-form">
      <div class='col-md-6' id="login-form">
        <form action='/users/login' method='POST' id="login-form">
          <label class="menu-item">Логін :</label>
          <input type='text' name='username' class='form-control' required placeholder="Введіть логін..."/>
          <label class="menu-item">Пароль :</label>
          <input type='password' name='password' class='form-control'required />
          <button type='submit' class='btn btn-primary'>Увійти</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
