<html>
<head>
  <title>Shop</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="/javascripts/common.js"></script>

  </head>

  <body>
    	<% if (user) { %>
        <a href="/products/all_products" class='menu-item'><p>Продукція</p></a>
        <a href="/users/profile" class='menu-item'><p>Особиста сторінка</p></a>
        <a href="/users/registration" class='menu-item'><p>Зареєструватися</p></a>

    <h1> <%= user.name %>, вітаємо у Єнотіка</h1>
    <div id="description">
      <p>
        Продукція магазину Штуковина что-то еще в описании, но я хз что
      </p>
    </div>




    <% } else { %>
      <a href="/products/all_products" class='menu-item'><p>Продукція</p></a>
      <a href="/users/login" class='menu-item'><p>Увійти</p></a>
      <a href="/users/registration" class='menu-item'><p>Зареєструватися</p></a>

      <h1> Bітаємо у Єнотіка</h1>
      <div id="description">
        <p>
          Продукція магазину "У Єнотіка" порадує Вас та Ваших друзів
        </p>
      </div>
      	<% } %>
  </body>
  </html>
