<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Shop</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
	<div class='container'>
		<div class='page-header'>
			<h1>New Product</h1>
		</div>
		<div class='row'>
			<div class='col-md-8'>
				<form action='admin/products/view/:title' enctype="multipart/form-data" method='POST'>
					<label>Title:</label>
					<input type='text' name='title' class='form-control' value='<%=product.title%>' />
          <label>Price:</label>
					<input type='Number' name='price' class='form-control' value='<%=product.price%>' />
          <label>Collection:</label>
					<input type='text' name='collect' class='form-control' value='<%=product.collect%>' />
          <label>Description:</label>
          <input type='text' name='description' class='form-control' value='<%=product.description%>' />
          <label>Image:</label>
					<input type='file' name='img' />
					<br />
          <button type='submit' class='btn btn-primary'>Modify</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
