<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Shop</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
	<div class='container'>
		<div class='page-header'>
			<h1>Update info</h1>
		</div>
		<div class='row'>
			<div class='col-md-8'>
				<form action='/users/modify' enctype="multipart/form-data" method='POST'>
          <label>Name:</label>
          <input type='text' name='name' class='form-control' value='<%=user.name%>' />
          <label>Phone:</label>
          <input type='Number' name='phone' class='form-control' value='<%=user.phone%>' />
          <label>Username:</label>
          <input type='text' name='username' class='form-control' value='<%=user.username%>' />
          <label>Password:</label>
          <input type='password' name='password' class='form-control' value='' />
          <label>Email:</label>
          <input type='text' name='email' class='form-control' value='<%=user.email%>' />
					<br />
          <button type='submit' class='btn btn-primary'>Modify</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
