<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sample</title>
  <meta name="description" content="Sample site">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

  <%if(user){%>
    <a href="/users/logout" class='menu-item'><p>Вийти</p></a>
    <a href="/users/cart" class='menu-item'><p>Кошик</p></a>
    <a href="/products/all_products" class='menu-item'><p>Продукція</p></a>

	<div class='container' id="user-description">
		<div class='page-header'>
			<h1><%= product.title %></h1>
		</div>
		<div class='row'>
      <div class='col-md-4'>
        <img src='data:image/jpg;base64,<%= product.img %>' width=300 height=300 />
      </div>

						<div class='table'>
  						<div class='col-md-8'>
  							<p>Title : <%= product.title %></p>
                <p>Collection : <%= product.collect %></p>
                <p>Price : <%= product.price %> $</p>
                <p>Description : <%= product.description %></p>
  						</div>
            </div>

            <form action="/users/products/buy/<%= product._id %>" method="POST" >
                <button type='submit' class='btn btn-primary' style = "margin-top : 3px">Купити</button>
            </form>

            <%if(user.type == "admin" ){%>
              <form action="/products/delete/<%= product._id %>" method="POST">
                  <button type='submit' class='btn btn-primary' style = "margin-top :2px">Видалити</button>
              </form>
              <form action='/users/modifyProduct' method='POST'>
                <button type='submit' class='btn btn-primary' style=" margin-top :1px">Змінити</button>
              </form>
              <%}%>
</div>
</div>
            <%} else {%>
              <a href="/users/login" class='menu-item'><p>Увійти</p></a>
              <a href="/users/registration" class='menu-item'><p>Зареєструватис</p></a>
              <a href="/products/all_products" class='menu-item'><p>Продукція</p></a>
              <div class='container' id="user-description">
            		<div class='page-header'>
            			<h1><%= product.title %></h1>
            		</div>
            		<div class='row'>
                  <div class='col-md-4'>
                    <img src='data:image/jpg;base64,<%= product.img %>' width=300 height=300 />
                  </div>
            						<div class='table'>
              						<div class='col-md-8'>
              							<p>Title : <%= product.title %></p>
                            <p>Collection : <%= product.collect %></p>
                            <p>Price : <%= product.price %> $</p>
                            <p>Description : <%= product.description %></p>
              						</div>
                        </div>

                  </div>
                </div>
                  <%}%>
</body>
</html>
