<!doctype html>

<html>
<head>
  <meta charset="utf-8">

  <title>Shop</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></head>

<body>
  <body>
    <a href="/products/all_products" class='menu-item'><p>Продукція</p></a>
    <a href="/users/login" class='menu-item'><p>Увійти</p></a>
    <a href="/" class='menu-item'><p>Головна</p></a>
    <div class='container'>
      <div class='row'>
        <div class='col-md-6'>
          <form action='/users/registration' enctype="multipart/form-data" method='POST'>
            <label>Ім'я ':</label>
  					<input type='text' name='name' class='form-control' placeholder="Введіть ім'я..."/>
            <label>Телефон:</label>
  					<input type='Number' name='phone' class='form-control' placeholder='Введіть номер телефону...' />
            <label>Логін:</label>
  					<input type='text' name='username' class='form-control' placeholder='Введіть логін...' />
            <label>Пароль:</label>
  					<input type='password' name='password' class='form-control' placeholder='******' />
            <label>Email:</label>
            <input type='text' name='email' class='form-control' placeholder='name.surname@gmail.com' />
            <label>Avatar:</label>
  					<input type='file' name='image' />
  					<br />
            <button type='submit' class='btn btn-primary'>Зареєструватися</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
