<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Shop</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
  <a href="/users/logout" class='menu-item'><p>Вийти</p></a>
  <a href="/users/cart" class='menu-item'><p>Кошик</p></a>
  <a href="/products/all_products" class='menu-item'><p>Продукція</p></a>

	<div class='container' id="user-description">
		<div class='page-header' style="font-size: 60px; margin-top: 1%">
			<h1 ><%= user.username %>`s profile</h1>
		</div>
		<div class='row'>
        <div class='col-md-4'>
          <img src='data:image/jpg;base64,<%= user.img %>' width=350 height=350 />
        </div>
						<div class='table'>
              <div class='col-md-8'>
                <p>Name : <%= user.name %></p>
                <p>Email : <%= user.email %></p>
                <p>Phone : <%= user.phone %></p>
              </div>
					</div>
          <form action='/users/modifyUser' method='POST' style="margin-top :23%;">
            <button type='submit' class='btn btn-primary' style="align :right">Змінити</button>
          </form>
		</div>
	</div>

</body>
</html>
