@import url("shop.css");

	body{
		background-image :url(/images/main.jpg);
		background-size : 100%;
		background-attachment : fixed;
	}
  a{
    margin-top : 2%;
    text-decoration : none;
    color : black;
  }
  a:hover{
    color: #997A8D;
  }
