
body{
  background-image :url(/images/login.jpg);
  background-size : 100%;
  background-attachment : fixed;
}
a{
  margin-top : 2%;
  text-decoration : none;
  color : black;
}
a:hover{
  text-decoration : none;
  color: #CD853F;
}
h1{
  color :black;
  font-family : segoe script, fantasy;
  text-align : center;
  font-size: 100px;
  margin-top : 10px;
}
.menu{
    text-decoration : none;
}
#description{
  font-family: segoe script, fantasy;
  text-align : center;;
  font-size: 60px;
  box-shadow: 0 0 5px;
  padding: 30px;
  width : 50%;
  margin-left: 1%;
  margin-top : 4%;
  background-color: #CDAF95;
  opacity: 0.8;
}
#user-description{
  font-family: segoe script, fantasy;
  text-align : left;;
  font-size: 30px;
  padding: 38px;
  width : 60%;
  margin-left: 1%;
  margin-top : 2%;

}
#login-form{
  align: left;
  margin-top: 70px;
}
#button-item{
  display:inline-block;
}
.product-item{
  display:inline-block;
  margin:10px;
  padding:10px;
}
.menu-item{
  font-family : segoe script, fantasy;
  color:  black;
  margin-top : 1%;
  margin: 2%;
  text-align : right;
  position: relative;
  font-size: 30px;
  display: inline-block;
}

  .thumbs {
  display: inline-block;
  margin-left: 30px;
  width: 300px;
  height: 300px;
  margin: 10px;
  opacity: .99;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.thumbs:before {
  content: '';
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.thumbs img {
  display: block;
  width: 100%; /* ширина картинки */
  height: auto; /* высота картинки */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.thumbs .caption {
  width: 100%;
  padding: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  text-align: center;
}
.thumbs .caption span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.thumbs .caption .title {
  line-height: 1;
  font-weight: normal;
  font-size: 25px;
}
.thumbs .caption .info {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 18px;
}
.thumbs:focus:before,
.thumbs:focus span, .thumbs:hover:before,
.thumbs:hover span {
  opacity: 1;
}
.thumbs:focus:before, .thumbs:hover:before {
  top: 50%;
}
.thumbs:focus span, .thumbs:hover span {
  top: 0;
}
.thumbs:focus .title, .thumbs:hover .title {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
.thumbs:focus .info, .thumbs:hover .info {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
